.menuToggle{
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: darkblue url(menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    z-index: 1000;
    cursor: pointer;
}
.menuToggle.active{
    background: darkblue url(close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}
.navigation{
    position: fixed;
    top: 0;
    left: calc(100% - 60px);
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: 0.2s;
}
.navigation.active{
    left: 0px;
}
.navigation ul{
    position: relative;
}
.navigation ul li{
    position: relative;
    list-style: none;
    text-align: center;
}
.navigation ul li a{
    font-size: 2.5em;
    color: #fff;
    text-decoration: none;
    font-weight: none;
}
.navigation ul li a:hover{
    color: #f60f20;
}
